- name: Deploy vulnerable vsftpd 2.3.4 container
  hosts: ftp
  become: true

  vars:
    build_dir: /home/cyberrange/docker_build
    image_name: vsftpd_234
    container_name: vsftpd

  tasks:

    - name: Stop and disable host vsftpd if present
      service:
        name: vsftpd
        state: stopped
        enabled: false
      ignore_errors: yes

    - name: Stop and disable xinetd if present
      service:
        name: xinetd
        state: stopped
        enabled: false
      ignore_errors: yes

    - name: Remove old vsftpd container if it exists
      docker_container:
        name: "{{ container_name }}"
        state: absent
      ignore_errors: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present
        update_cache: yes

    - name: Ensure Docker build directory exists
      file:
        path: "{{ build_dir }}"
        state: directory

    - name: Copy Dockerfile
      copy:
        src: files/vsftpd_docker/Dockerfile
        dest: "{{ build_dir }}/Dockerfile"
        mode: '0644'

    - name: Copy vsftpd tarball into build context
      copy:
        src: vsftpd-2.3.4.tar.gz
        dest: "{{ build_dir }}/vsftpd-2.3.4.tar.gz"
        mode: '0644'

    - name: Copy vsftpd.conf into build context
      copy:
        src: files/vsftpd_docker/vsftpd.conf
        dest: "{{ build_dir }}/vsftpd.conf"
        mode: '0644'

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Build vsftpd Docker image
      community.docker.docker_image:
        name: "{{ image_name }}"
        source: build
        build:
          path: "{{ build_dir }}"
          pull: yes

    - name: Run vulnerable vsftpd container
      docker_container:
        name: "{{ container_name }}"
        image: "{{ image_name }}"
        state: started
        restart_policy: unless-stopped
        network_mode: host
        command: /usr/sbin/vsftpd /etc/vsftpd.conf
